.checkbox-wrapper-46 input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.checkbox-wrapper-46 .cbx {
  margin: auto;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}
.checkbox-wrapper-46 .cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-46 .cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid #9098a9;
  transition: all 0.2s ease;
}
.checkbox-wrapper-46 .cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-46 .cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #506eec;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}
.checkbox-wrapper-46 .cbx span:last-child {
  padding-left: 8px;
}
.checkbox-wrapper-46 .cbx:hover span:first-child {
  border-color: #506eec;
}

.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child {
  background: #506eec;
  border-color: #506eec;
  animation: wave-46 0.4s ease;
}
.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}
.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child:before {
  transform: scale(3.5);
  opacity: 0;
  transition: all 0.6s ease;
}

@keyframes wave-46 {
  50% {
    transform: scale(0.9);
  }
}

.btn {
  /* border-style: dashed; */
  margin: 10px auto;
  width: fit-content;
  /* border: 3px solid #dc582a; */
  padding: 8px 16px;
  border-radius: 6px;
  text-decoration: none;
  justify-content: center;
  color: #ffffff;
  transition: background 0.5s;
}
.btnnext {
  /* border-style: dashed; */
  margin: 10px auto;
  width: fit-content;
  /* border: 3px solid #dc582a; */
  padding: 8px 16px;
  border-radius: 6px;
  text-decoration: none;
  justify-content: center;
  color: #ffffff;
  transition: background 0.5s;
}
.btnback {
  /* border-style: dashed; */
  margin: 10px auto;
  width: fit-content;
  /* border: 3px solid #dc582a; */
  padding: 8px 16px;
  border-radius: 6px;
  text-decoration: none;
  justify-content: center;
  color: #ffffff;
  background: #4e81b3;
  transition: background 0.5s;
}
.btn-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  margin-top: 30px;
}

.btn:hover {
  background: #ffdb63; /*lighter orange*/
  /* border: 3px solid #dc582a; */
}

.btnback:hover {
  background: #114b96; /*lighter orange*/
  /* border: 3px solid #dc582a; */
}

form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}
form .btn2 {
  padding: 10px 10px;
  font-size: 18px;
  margin-top: 8px;
  cursor: pointer;
}
form {
  margin: 3px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 3px;
}
.form-check-input {
  background-color: #106cfc;
  border-color: #106cfc;
  padding-bottom: 40px;
  padding-left: 100px;
  position: relative;
  width: 40px;
  height: 20px;
}

.form-check-input:after {
  position: absolute;
  left: 50%;
  top: 15%;
  content: "🔧";
  color: white;
  font-size: 18px;
}

.form-check-input:checked {
  background-color: #14b336;
  /* border-color: #106cfc; */
}

.form-check-input:checked:after {
  left: 20%;
  content: "➕";
}

.form-switch .form-check-input {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e");
}

.form-switch .form-check-input:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e");
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.btn.btn2 {
  display: inline-block;
  background: #0010df;
}
