.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 11vh;
  display: inline-block;
  flex-direction: row;
  justify-content: flex-start;
  font-size: calc(20px + 2vmin);
  font-family: Helvetica;
  color: #dc582a; /*Dark Orange 1*/
}

.App-header.is-invisible {
  display: none;
}

a:not(.inline-link) {
  color: #114b96;
  font-size: calc(10px + 2vmin);
  padding-left: 1vw;
  text-decoration: none;
}

a:hover {
  color: #4782d0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #185789;
  color: #000;
  background-image: url(../assets/background-1.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 20px;
}

.names {
  overflow: hidden;
  display: flex;
  align-items: center;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 5px grey;
  background: #4e81b3;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 5px grey;
  background: #114b96;
}

h2 {
  text-align: left;
}

h5 {
  text-align: left;
}

#msg {
  color: #51b752;
  margin-top: -40px;
  display: block;
}
