.sidebar {
  flex: 0 0 250px;
  background-color: #c4c0b7;
  display: flex;
  flex-direction: column;
  height: 100vh;
  transition: all 0.3s ease;
}

/* When collapsed */
.sidebar.collapsed {
  flex: 0 0 80px;
}
