.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  /*background-color: #efefef;*/
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: calc(20px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  color: #dc582a; /*Dark Orange 1*/
}

.Home-bar {
  padding-left: 1vw;
  padding-top: 1vh;
  background-color: #efefef;
}

.Home-nav {
  display: inline;
}

a {
  color: #006400;
  /* color: #DC582A; Dark Orange 1 */
  font-size: calc(10px + 2vmin);
  padding-left: 1vw;
  text-decoration: none;
}

a:hover {
  color: rgb(239, 162, 85);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
